LOGS_PATH="/mnt/shared/logs"
IMAGES_PATH="/mnt/shared/images/production"
MODELS_PATH="/mnt/shared/models"
DATASETS_PATH="/mnt/shared/datasets"
LOGGING_LVL = 'debug'
CAMERA = 0
ACTUATOR_PIN = 14
CAMERA_SENSOR_PIN = 15
ACTUATOR_SENSOR_PIN = 18
GPIO_CHIP = "/dev/gpiochip4"
