<footer class="w-100 d-flex justify-content-center align-items-center">
    <button class="btn btn-md p-0 align-self-start" type="button" id="prevPageButton">
        <span class="bi bi-caret-left-square fs-3"></span>
    </button>
    <p class="m-0 ms-1" data-default-text="-" id="currenPage">-</p>
    <p class="m-0">/</p>
    <p class="m-0 me-1" data-default-text="-" id="totalPages">-</p>
    <button class="btn btn-md p-0 align-self-start" type="button" id="nextPageButton">
        <span class="bi bi-caret-right-square fs-3"></span>
    </button>

    <script
        src="{{ url_for('static', filename='js/components/pagination.js') }}"
        type="module">
    </script>
</footer>