ORIGIN_NAME="Device-Name"
API_IP = "127.0.0.1:8000"
LOGGING_LVL = 'debug'
ULTRALYTICS_LOGGING_LVL = 'warning'
LOGS_PATH="/mnt/shared/logs"  #Device absolute path
IMAGES_PATH="/mnt/shared/images"  #Device absolute path
MODELS_PATH="/mnt/shared/models"  #Device absolute path
DATASETS_PATH="/mnt/shared/datasets"  #Device absolute path