DATASETS_VOLUME_PATH="/mnt/shared/datasets"  #Device absolute path
MODELS_VOLUME_PATH="/mnt/shared/models"  #Device absolute path
IMAGES_VOLUME_PATH="/mnt/shared/images"  #Device absolute path
LOGS_VOLUME_PATH="/mnt/shared/logs"  #Device absolute path
LABEL_STUDIO_VOLUME_PATH="/mnt/shared/label-studio"  #Device absolute path
POSTGRES_VOLUME_PATH="/mnt/shared/postgresql"  #Device absolute path