{% extends "base.html" %}

{% block title %}
    Airbag cut inspection - Live view
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="img-stream-main">
        <div class="img-display row-div align-mid">
            <div class="img-view col-div align-center">
                <span id="live-img-span">No image to show</span>
                <img id="live-img" src="" hidden>
            </div>
            <div class="info-view col-div">
                <div class="col-div">
                    <span class="info-title text-hidden">Origin:</span>
                    <span class="info-value text-hidden" id="live-img-origin" data-default-text="Unknown">Unknown</span>
                </div>
                <div class="col-div">
                    <span class="info-title text-hidden">Type:</span>
                    <span class="info-value text-hidden" id="live-img-type" data-default-text="No result">No result</span>
                </div>
            </div>
        </div>
        <div class="img-hist">
            <div class="img-display-small row-div align-mid">
                <div class="img-view col-div align-center">
                    <span id="hist-img-1-span">No image to show</span>
                    <img id="hist-img-1" src="" hidden>
                </div>
                <div class="info-view col-div">
                    <div class="col-div">
                        <span class="info-title">Origin:</span>
                        <span class="info-value" id="img-hist-origin-1" data-default-text="Unknown">Unknown</span>
                    </div>
                    <div class="col-div">
                        <span class="info-title">Type:</span>
                        <span class="info-value" id="img-hist-type-1" data-default-text="No result">No result</span>
                    </div>
                </div>
            </div>
            <div class="img-display-small row-div align-mid">
                <div class="img-view col-div align-center">
                    <span id="hist-img-2-span">No image to show</span>
                    <img id="hist-img-2" src="" hidden>
                </div>
                <div class="info-view col-div">
                    <div class="col-div">
                        <span class="info-title">Origin:</span>
                        <span class="info-value" id="img-hist-origin-2" data-default-text="Unknown">Unknown</span>
                    </div>
                    <div class="col-div">
                        <span class="info-title">Type:</span>
                        <span class="info-value" id="img-hist-type-2" data-default-text="No result">No result</span>
                    </div>
                </div>
            </div>
            <div class="img-display-small row-div align-mid">
                <div class="img-view col-div align-center">
                    <span id="hist-img-3-span">No image to show</span>
                    <img id="hist-img-3" src="" hidden>
                </div>
                <div class="info-view col-div">
                    <div class="col-div">
                        <span class="info-title">Origin:</span>
                        <span class="info-value" id="img-hist-origin-3" data-default-text="Unknown">Unknown</span>
                    </div>
                    <div class="col-div">
                        <span class="info-title">Type:</span>
                        <span class="info-value" id="img-hist-type-3" data-default-text="No result">No result</span>
                    </div>
                </div>
            </div>
            <div class="img-display-small row-div align-mid">
                <div class="img-view col-div align-center">
                    <span id="hist-img-4-span">No image to show</span>
                    <img id="hist-img-4" src="" hidden>
                </div>
                <div class="info-view col-div">
                    <div class="col-div">
                        <span class="info-title">Origin:</span>
                        <span class="info-value" id="img-hist-origin-4" data-default-text="Unknown">Unknown</span>
                    </div>
                    <div class="col-div">
                        <span class="info-title">Type:</span>
                        <span class="info-value" id="img-hist-type-4" data-default-text="No result">No result</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/webSocket.js') }}"></script>
{% endblock %}