{% extends "index.html" %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="clearfix" id="main-content">
        <div class="col-md-9 p-2 float-md-start">
            <div class="row m-0 align-items-center border border-2 rounded">
                <div class="col-sm-8 p-2">
                    <div class="ratio ratio-4x3 border border-2 rounded">
                        <div class="d-flex flex-column align-items-center justify-content-center text-center h-100">
                            <span class="h1 mb-0 fs-2" id="img-0-span">No image to show</span>
                            <img id="img-0-img" src="" alt="No image" class="img-fluid" hidden>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 p-2">
                    <span class="row m-0 fs-5 fst-italic">Origin:</span>
                    <span class="row m-0 fs-3 fw-bold mb-3" id="img-0-origin" data-default-text="Unknown">Unknown</span>
                    <span class="row m-0 fs-5 fst-italic">Type:</span>
                    <span class="row m-0 fs-3 fw-bold mb-3" id="img-0-type" data-default-text="No result">No result</span>
                    <span class="row m-0 fs-5 fst-italic">Trust:</span>
                    <span class="row m-0 fs-3 fw-bold" id="img-0-trust" data-default-text="NULL">NULL</span>
                </div>
            </div>
        </div>
        {% for i in range(3) %}
            <div class="col-3 float-md-start">
                <div class="row m-0 p-2 pb-0">
                    <div class="row m-0 p-0 align-items-center border border-2 rounded">
                        <div class="col-sm-8 p-2">
                            <div class="ratio ratio-4x3 border border-2 rounded">
                                <div class="d-flex flex-column align-items-center justify-content-center text-center h-100">
                                    <span class="h1 mb-0 fs-5" id="img-{{ i }}-span">No image to show</span>
                                    <img id="img-1-img" src="" alt="No image" class="img-fluid" hidden>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 p-0">
                            <span class="row m-0 fs-10 fst-italic">Origin:</span>
                            <span class="row m-0 fs-8 fw-bold mb-1" id="img-{{ i }}-origin" data-default-text="Unknown">Unknown</span>
                            <span class="row m-0 fs-10 fst-italic">Type:</span>
                            <span class="row m-0 fs-8 fw-bold mb-1" id="img-{{ i }}-type" data-default-text="No result">No result</span>
                            <span class="row m-0 fs-10 fst-italic">Trust:</span>
                            <span class="row m-0 fs-8 fw-bold" id="img-{{ i }}-trust" data-default-text="NULL">NULL</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/webSocket.js') }}"></script>
{% endblock %}
