{% extends "index.html" %}

{% block styles %}
{% endblock %}

{% block content %}
    <section class="d-flex h-100">
        <aside class="col-2 p-1 h-100 overflow-auto">
            <article class="border border-1 rounded p-1">
                <h3><strong>Filters:</strong></h3>
                <section class="d-flex flex-column gap-1">
                    {% include 'filters/date.html' %}
                    {% include 'filters/image/extension.html' %}
                    {% include 'filters/origin.html' %}
                    {% include 'filters/model.html' %}
                    {% include 'filters/image/trust.html' %}
                    {% include 'filters/class.html' %}
                </section>
            </article>
        </aside>
        <section class="col-7 p-1 d-flex flex-column align-items-center">
            <article class="col-12 border border-2 rounded p-1">
                <div class=" d-flex align-items-center">
                    <section class="col-8 d-flex flex-column align-items-center border border-2 rounded">
                        <div class="ratio ratio-4x3">
                            <div class="d-flex align-items-center justify-content-center p-1 text-center">
                                <h1 class="mb-0" id="img-0-alt"><strong>No image to show</strong></h1>
                                <img id="img-0-img" src="" alt="No image" class="h-100 w-100 mw-100 mh-100 rounded object-fit-contain" hidden>
                            </div>
                        </div>
                        <p class="mb-0" id="img-0-name" data-default-text="Unknown">Unknown</p>
                    </section>
                    <section class="col-4 ps-2 text-truncate">
                        <ul class="list-group">
                            <li class="list-item">
                                <h5 class="fst-italic fw-normal m-0">Origin:</h5>
                                <p class="h3 m-0 mb-3"><strong id="img-0-origin" data-default-text="Unknown">Unknown</strong></p>
                            </li>
                            <li class="list-item">
                                <h5 class="fst-italic fw-normal m-0">Type:</h5>
                                <p class="h3 m-0 mb-3"><strong id="img-0-type" data-default-text="No result">No result</strong></p>
                            </li>
                            <li class="list-item">
                                <h5 class="fst-italic fw-normal m-0">Trust:</h5>
                                <p class="h3 m-0 mb-3"><strong id="img-0-trust" data-default-text="NULL">NULL</strong></p>
                            </li>
                            <li class="list-item">
                                <h5 class="fst-italic fw-normal m-0">Model:</h5>
                                <p class="h3 m-0"><strong id="img-0-model" data-default-text="Unknown">Unknown</strong></p>
                            </li>
                        </ul>
                        <footer class="mt-4 w-100 d-flex justify-content-center">
                            <button class="btn btn-md p-0" type="button" id="delete-img-btn-0">
                                <span class="bi bi-trash fs-3"></span>
                            </button>
                        </footer>
                    </section>
                </div>
            </article>
            <footer class="col-12 d-flex justify-content-center align-items-center">
                <button class="btn btn-md p-0 align-self-start" type="button" id="prevHistImgButton">
                    <span class="bi bi-caret-left-square fs-3"></span>
                </button>
                <p class="m-0 ms-1" data-default-text="-" id="currentHistImgIndex">-</p>
                <p class="m-0">/</p>
                <p class="m-0 me-1" data-default-text="-" id="totalHistImgIndex">-</p>
                <button class="btn btn-md p-0 align-self-start" type="button" id="nextHistImgButton">
                    <span class="bi bi-caret-right-square fs-3"></span>
                </button>
            </footer>
        </section>
        <section class="col-3 p-1 h-100 overflow-auto">
            <form class="border border-1 rounded p-1" id="trueResultForm">
                <div class="d-flex justify-content-between mb-1">
                    <h3 class="mb-0"><strong>True result:</strong></h3>
                    <button type="submit" class="btn btn-secondary">Save</button>
                </div>
                {% include 'selectors/class.html' %}
            </form>
        </section>
    </section>
{% endblock %}

{% block scripts %}
    <script
        src="{{ url_for('static', filename='js/imageInspection.js') }}"
        type="module">
    </script>
{% endblock %}
