<nav class="navbar bg-body-secondary">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center w-100 position-relative">
            <!-- Menu -->
            <div class="dropdown ms-2">
                <button class="navbar-toggler d-block" type="button" data-bs-auto-close="auto" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="dropdown-menu" id="navbar">
                    <li><h6 class="dropdown-header">Menu</h6></li>
                    <li>
                        <a class="dropdown-item" id="home" href="/">Home</a>
                    </li>
                    <li>
                        <a class="dropdown-item" id="logout" href="/image-stream">Image stream</a>
                    </li>
                </ul>
            </div>
            <!-- Title -->
            <a class="navbar-brand position-absolute top-50 start-50 translate-middle text-nowrap overflow-hidden text-truncate text-decoration-none me-0" href="/" style="max-width: calc(100% - 12rem);">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="/static/images/copoLogoWhite.png" alt="Logo" width="30" height="30" class="d-inline-block me-2">
                    <span class="h3 mb-0 fw-bold text-uppercase">{{ page_title }}</span>
                </div>
            </a>
            <!-- Logging -->
            <div class="d-flex gap-2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {% if True %}
                        <a class="nav-link" id="logout" href="/logout">
                            Logout
                        </a>
                        {% else %}
                        <a class="nav-link active" id="login" href="/login">
                            Login
                        </a>
                        {% endif %}
                    </li>
                </ul>
                <button id="theme-toggle" type="button" class="btn btn-secondary rounded-circle">
                    <span id="theme-icon">🌙</span>
                </button>
            </div>
        </div>
    </div>
</nav>
