{% extends "index.html" %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="d-flex h-100">
        <section class="col-md-8 p-1">
            <div class="d-flex flex-column gap-1">
                <article id="img0" class="col-12 d-flex align-items-center border border-2 rounded p-1">
                    <section class="col-8 d-flex flex-column align-items-center border border-2 rounded text-center">
                        <div class="ratio ratio-4x3">
                            <div class="d-flex align-items-center justify-content-center p-1">
                                <h1 class="mb-0" name="imgAlt"><strong>No image to show</strong></h1>
                                <img name="img" src="" alt="No image" class="h-100 w-100 mw-100 mh-100 rounded object-fit-contain" hidden>
                            </div>
                        </div>
                        <p class="mb-0" name="imgName" data-default-text="Unknown">Unknown</p>
                    </section>
                    <section class="col-4 ps-2 text-truncate">
                        <ul class="list-group">
                            <li class="list-item">
                                <h5 class="fst-italic fw-normal m-0">Origin:</h5>
                                <p class="h3 m-0 mb-3"><strong name="imgOrigin" data-default-text="Unknown">Unknown</strong></p>
                            </li>
                            <li class="list-item">
                                <h5 class="fst-italic fw-normal m-0">Type:</h5>
                                <p class="h3 m-0 mb-3"><strong name="imgType" data-default-text="No result">No result</strong></p>
                            </li>
                            <li class="list-item">
                                <h5 class="fst-italic fw-normal m-0">Trust:</h5>
                                <p class="h3 m-0 mb-3"><strong name="imgTrust" data-default-text="NULL">NULL</strong></p>
                            </li>
                            <li class="list-item">
                                <h5 class="fst-italic fw-normal m-0">Model:</h5>
                                <p class="h3 m-0"><strong name="imgModel" data-default-text="Unknown">Unknown</strong></p>
                            </li>
                        </ul>
                    </section>
                </article>
                <article class="col-3">
                    {% include 'filters/origin.html' %}
                </article>
            </div>
        </section>
        <section class="col-4 h-100 overflow-auto p-1">
            {% for i in range(4) %}
                <article id="img{{ i+1 }}" class="col-12 d-flex align-items-center border border-2 rounded p-1 mb-2">
                    <section class="col-8 d-flex flex-column align-items-center border border-2 rounded text-center">
                        <div class="ratio ratio-4x3">
                            <div class="d-flex align-items-center justify-content-center p-1">
                                <h5 class="mb-0" name="imgAlt"><strong>No image to show</strong></h5>
                                <img name="img" src="" alt="No image" class="h-100 w-100 mw-100 mh-100 rounded object-fit-contain" hidden>
                            </div>
                        </div>
                        <p class="mb-0" name="imgName" data-default-text="Unknown">Unknown</p>
                    </section>
                    <section class="col-4 ps-1 text-truncate">
                        <ul class="list-group">
                            <li class="list-item">
                                <p class="fs-10 fst-italic m-0">Origin:</p>
                                <p class="fs-8 m-0 mb-1"><strong name="imgOrigin" data-default-text="Unknown">Unknown</strong></p>
                            </li>
                            <li class="list-item">
                                <p class="fs-10 fst-italic m-0">Type:</p>
                                <p class="fs-8 m-0 mb-1"><strong name="imgType" data-default-text="No result">No result</strong></p>
                            </li>
                            <li class="list-item">
                                <p class="fs-10 fst-italic m-0">Trust:</p>
                                <p class="fs-8 m-0 mb-1"><strong name="imgTrust" data-default-text="NULL">NULL</strong></p>
                            </li>
                            <li class="list-item">
                                <p class="fs-10 fst-italic m-0">Model:</p>
                                <p class="fs-8 m-0"><strong name="imgModel" data-default-text="Unknown">Unknown</strong></p>
                            </li>
                        </ul>
                    </section>
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script
        src="{{ url_for('static', filename='js/imageStream.js') }}"
        type="module">
    </script>
    <script
        src="{{ url_for('static', filename='js/webSocket.js') }}"
        type="module">
    </script>
{% endblock %}
