{% extends "index.html" %}

{% block styles %}
{% endblock %}

{% block content %}
    <section class="d-flex h-100">
        <aside class="col-2 p-1 h-100 overflow-auto user-select-none">
            <article class="card p-2">
                <section class="d-flex">
                    <h3 class="text-truncate"><strong>Models:</strong></h3>
                </section>
                <section class="card-body p-0">
                    <ul class="list-group">
                        {% for item in models: %}
                            <li class="list-group-item p-1 text-truncate">
                                <a
                                    href="/config/models/{{ item.name }}/"
                                    class="text-decoration-none text-reset d-block"
                                >
                                    {{ item.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </article>
        </aside>
        <section class="w-100 d-flex ms-3">
            <form id="modelForm" class="col-5">
                <header class="d-flex align-items-center justify-content-between mb-3 pb-1 border-bottom border-2">
                    <h1 class="h3 m-0" id="modelName">{{ model.name }}</h1>
                    <button class="btn btn-md p-0" type="button" id="deleteModelButton">
                        <span class="bi bi-trash fs-3"></span>
                    </button>
                </header>
                <section class="">
                    <label class="rounded-top border border-bottom-0 bg-body-tertiary p-2" for="modelDescription">
                        Description:
                    </label>
                    <textarea class="form-control rounded-0 rounded-bottom rounded-end" rows="3" id="modelDescription">{{ model.description }}</textarea>
                </section>
                <footer class="d-flex justify-content-center gap-3 mt-3 border-top pt-2 border-2">
                    <button type="reset" class="btn btn-secondary">Cancel</button>
                    <button type="submit" class="btn btn-success">
                        <span class="spinner-border spinner-border-sm" role="status" name="submitSpinner" hidden></span>
                        <span name="submitLabel">Save</span>
                    </button>
                </footer>
            </form>
        </section>
    </section>
{% endblock %}

{% block scripts %}
    <script
        src="{{ url_for('static', filename='js/config/model/model.js') }}"
        type="module">
    </script>
{% endblock %}