<article class="card user-select-none">
    <button class="btn card-header p-0 ps-1 pe-1 d-flex justify-content-between align-items-center collapsed"
            type="button" 
            data-bs-toggle="collapse"
            data-bs-target="#statusFilterCollapseCard" 
            aria-expanded="false"
            aria-controls="statusFilterCollapseCard"
    >
        <span class="fs-8 fst-italic p-0">Status:</span>
        <span class="bi bi-caret-down-square fs-5"></span>
    </button>
    <section class="card-body collapse p-1"  id="statusFilterCollapseCard">
        <label class="form-check mb-1 border-bottom">
            <input class="form-check-input" type="checkbox" id="statusFilterSelectAll">
            <strong>All</strong>
        </label>
        <ul class="list-group">
            <li class="list-group-item p-0 ps-1 pe-1 text-truncate">
                <label class="d-flex gap-1">
                    <input class="form-check-input" type="checkbox" name="statusFilterOption" value="Unknown">
                    Unknown
                </label>
            </li>
            {% for status in status_list: %}
                <li class="list-group-item p-0 ps-1 pe-1 text-truncate">
                    <label class="d-flex gap-1">
                        <input class="form-check-input" type="checkbox" name="statusFilterOption" value="{{ status }}">
                        {{ status }}
                    </label>
                </li>
            {% endfor %}
        </ul>
    </section>

    <script
        src="{{ url_for('static', filename='js/filters/image/status.js') }}"
        type="module">
    </script>
</article>
