.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
}

.alert-warning {
    background-color: #ffe89d;
    color: #6d5200;
}

.alert-error {
    background-color: #ffabab;
    color: #800000;
}