.menu-button {
    background: none;
    border: none;
    padding: 0;
    height: fit-content;
    align-self: center;
}

.menu-button img {
    cursor: pointer;
    display: block;
    width: var(--menu-icon-size);
    height: var(--menu-icon-size);
    transition: transform 0.1s linear;
}

.menu-button img:hover {
    transform: scale(1.2);
}
