LOGS_PATH="/app/dist/logs"  #Container absolute path
LOGGING_LVL="debug"
SERVER_IP="0.0.0.0"
SERVER_PORT=8000
#DATABASE_URL="sqlite+aiosqlite:///./database.db"
#DATABASE_URL="postgresql+asyncpg://postgres:super-save-password@postgres:5432/database-name"
HOST_IP='localhost'